.page{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;

    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;

    font-family: "Inter", "Arial", "Helvetica", sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    font-size: 14px;
    background-color: #EAEAEA;
  }

  html {
    height: 100%;
  }

  body {
    margin: 0;
    color: #fff;
    /* Растягиваем body по высоте html */
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  img {
    /* This inherits all CSS values including `overflow` */
    all: inherit;
    }

  .page__login {
    max-width: 396px;
    width: 100%;
    padding-top: 70px;
    margin: 0 auto;
    margin-bottom: 70px;

  }

  @media screen and (max-width: 768px) {
    .page__login {
      padding-top: 232px;
      margin-bottom: 130px;
    }
  }

  @media screen and (max-width: 472px) {
    .page__login {
      max-width: 260px;
      padding-top: 56px;
      margin-bottom: 30px;
    }
  }

  /* .page__header {

    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transition: padding-top .2s linear;
    flex-direction: row;
  }

  @media screen and (max-width: 767px) {
    .page__header {
      width: 100%;
      padding-top: 28px;
    }
  }

  .page__header_opened {
    padding-top: 169px;
  } */

  .page__container{
    margin: 0 auto;
    min-width: 320px;
    max-width: 1280px;
    height: 100%;
    display: flex;
    flex-direction: column;

  }

/*
  * {
    margin: 0;
    padding: 0;
  }
  html,
  body {
    height: 100%;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .content {
    min-height: calc(100vh - 172px);
  }

  @media screen and (max-width: 350px) {
    .content {
      min-height: calc(100vh - 253px);
    }
  } */

/*
  * {
    margin: 0;
    padding: 0;
  }
  html,
  body,
  .wrapper {
    height: 100%;
  }
  .content {
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 90px;
  }
  .footer {
    height: 80px;
    margin-top: -80px;
  } */
